.infoAgencia {
  width: 100%;
  display: flex;
  align-items: center;

  .infoAgenciaContainer {
    width: 100%;
    max-width: 100%;

    .infoAgenciaMainContainer {
      display: flex;
      justify-content: space-between;
      margin: 50px 100px;
      height: 139px;

      @media (min-width: 2500px) {
        height: 197px;
      }

      .institucionalInfosContainer {
        width: 703px;
        display: flex;
        gap: 121px;

        @media (min-width: 2500px) {
          gap: 293px;
          width: 1531px;
        }

        .institucionalInfosUl {
          display: flex;
          flex-direction: column;
          gap: 12px;
          width: 155px;
          list-style: none;
          padding: 0;
          margin: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          color: #303030;

          @media (min-width: 2500px) {
            font-size: 24px;
            width: 315px;
            gap: 10px;
          }
        }
        .infoAgenciaName {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          color: #303030;

          @media (min-width: 2500px) {
            font-size: 28px;
          }
        }
      }
    }
    .socialMedia {
      display: flex;
      flex-direction: column;

      & span {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #303030;

        @media (min-width: 2500px) {
          font-size: 28px;
        }
      }

      .socialMediaIconsContainer {
        display: flex;
        gap: 10px;

        .socialIcons {
          width: 35px;
          height: 35px;

          @media (min-width: 2500px) {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}
